.animated {
  &.delay-1 {
    animation-delay: 0.25s;
  }
  &.delay-2 {
    animation-delay: .5s;
  }
  &.delay-3 {
    animation-delay: .75s;
  }
  &.delay-4 {
    animation-delay: 1s;
  }
  &.delay-5 {
    animation-delay: 1.25s;
  }
  &.delay-6 {
    animation-delay: 1.5s;
  }
  &.delay-7 {
    animation-delay: 1.75s;
  }
  &.delay-8 {
    animation-delay: 2s;
  }
  &.delay-9 {
    animation-delay: 2.25s;
  }
}

.bounce-in-left-enter {
  animation: bounceInLeft 1s;
}

.bounce-in-left-delay-1-enter {
  animation: bounceInLeft 1s .1s;
}

.bounce-in-left-delay-2-enter {
  animation: bounceInLeft 1s .2s;
}

.bounce-in-left-delay-3-enter {
  animation: bounceInLeft 1s .3s;
}

.bounce-in-left-delay-4-enter {
  animation: bounceInLeft 1s .4s;
}

.bounce-in-left-delay-5-enter {
  animation: bounceInLeft 1s .5s;
}

.bounce-in-right-enter {
  animation: bounceInRight 1s;
}

.bounce-in-right-delay-1-enter {
  animation: bounceInRight 1s .1s;
}

.bounce-in-right-delay-2-enter {
  animation: bounceInRight 1s .2s;
}

.bounce-in-right-delay-3-enter {
  animation: bounceInRight 1s .3s;
}

.bounce-in-right-delay-4-enter {
  animation: bounceInRight 1s .4s;
}

.bounce-in-right-delay-5-enter {
  animation: bounceInRight 1s .5s;
}