body {
  position: relative;
}
.header {
  position: relative;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $zindex-fixed;
  background: transparent;
  &.fixed-top {
    position: fixed;
    background-color: $white;
    animation: fadeIn 0.3s ease-out;
    box-shadow: 0 .5rem 1rem rgba($black, .05);
    & + .content {
      transform: translateY($header-height) !important;
      margin-bottom: $header-height;
    }    
  }
}
.footer {
  @include gradient-y($dark, $primary, 25%);
  a {
    font-weight: 500;
    color: $white;
    &:hover {
      color: $primary;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-$header-threshold);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}