.lightbox {
  &-thumbnail {
    // height: 260px;
    // width: 100%;
  }
  &-image {
    height: 80vh;
    width: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}