.navbar {
  .splash {
    z-index: 2000;
    position: absolute;
    top: 21px;
    right: 21px;
    width: 1px;
    height: 1px;
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      background-color: $dark;
      width: 500vw;
      height: 500vw;
      top: -250vw;
      left: -250vw;
      transform: scale(0);
      transform-origin: 50% 50%;
      transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);
      will-change: transform;
    }
  }
  &.show {
    @include media-breakpoint-down(md) {
      .splash {
        &:after {
          transform: scale(1);
        }
      }
      .navbar-nav {
        visibility: visible;
        overflow: hidden;
        .nav-item {        
          opacity: 1;
        }      
      }

      .icon {
        transform: rotate(180deg);
        &-bar:nth-child(2),
        &-bar:nth-child(5) {
          opacity: 0;
        }
        &-bar:nth-child(3) {
          transform: rotate(45deg);
        }
        &-bar:nth-child(4) {
          opacity: 1;
          transform: rotate(-45deg);
        }
      }

      .btn-account {
        z-index: 2003;
        position: fixed;
        bottom: map-get($spacers, 5);
        left: map-get($spacers, 5);
        right: map-get($spacers, 5);
      }
    }
  }
}
.navbar-expand {
  @include media-breakpoint-down(md) {
    .navbar-nav {
      flex-direction: column;
    }
  }
}

.navbar-brand {
  z-index: 2002;
}

.navbar-nav {
  .nav-link {
    font-weight: 700;
    font-size: .9rem;
  }  
  @include media-breakpoint-down(md) {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    z-index: 2001;
    padding: 0;
    .nav-item {
      color: $white;
      opacity: 0;
      transition: all .5s;
    }
  
    .nav-link {
      color: $white;
      display: block;
      text-align: center;
      font-size: 1.5rem;
      &:hover,
      &:focus {
        outline: 0;
        background-color: rgba($black, .2);
      }
    }    
  }
}

.nav-toggler {
  z-index: 2002;
  background: transparent;
  outline: 0;
  cursor: pointer;
  @include border-radius(50%);
  transition: background-color .15s linear;
  
  &:hover,
  &:focus {
    background-color: transparent;
  }
  .icon {
    display: block;
    cursor: pointer;
    color: $white;
    transform: rotate(0deg);
    transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    &-bar {
      fill: none;
      stroke-width: 2;
      stroke: $white;        
      stroke-linecap: round;
      transform: rotate(0deg);
      transform-origin: 50% 50%;
      transition: transform .25s ease-in-out;
      &:nth-child(4) {
        opacity: 0;
      }
    }
    &-circle {
      fill: $primary;
    }
  }
}
