.communication {
  section {
    padding: 5rem 0;
    @include media-breakpoint-down(md) {
      padding: map-get($spacers, 5) 0;
    }
    &.banner {
      background-image: url(/images/communication/banner.jpg);
      background-position: center 20%;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 750px;
      @include media-breakpoint-down(md) {
        background-image: url(/images/communication/banner-mobile.jpg);
        min-height: calc(100vh - #{$header-height});
        padding: 5rem 0;
      }
      &:before {
        z-index: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include gradient-y-three-colors(rgba($black, .65), rgba($black, .35), 50%, rgba($black, .65));
      }
    }    
    &.compack {
      background-image: url(/images/home/compack.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      @include media-breakpoint-down(md) {
        background-image: url(/images/home/compack-mobile.jpg);
      }
      &:before {
        z-index: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include gradient-y-three-colors(rgba($black, .65), rgba($black, .35), 50%, rgba($black, .65));
      }
      .card {
        background-color: rgba($black, .75);
      }
      .card-price {
        background-color: $primary;
        clip-path: circle(50% at 50% 50%);
        height: 200px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .list-group-item {
        background: none;
        color: $white;
        border: none;
      }
    }
    &.contact {
      padding-bottom: 24rem;
      background-image: url(/images/contact.png);
      background-position: center 90%;
      background-size: 650px;
      background-repeat: no-repeat;
      border-top: 4px solid $primary;
      @include media-breakpoint-down(md) {
        background: none;
        padding-bottom: map-get($spacers, 5);
      }
    }
  }
  .map {
    width: 500px;
    height: 490px;
    background-image: url(/images/map.png);
    background-size: 100%;
    position: relative;
    @include media-breakpoint-down(md) {
      width: 250px;
      height: 245px;
    }
    i {
      position: absolute;
      left: 40%;
      bottom: 15%;
      animation-duration: 1s;
      animation-name: scale;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}